<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board Game Sommelier</title>
</head>

<body class="flex flex-col justify-center items-center">
  <header class="">
    <h1 class="text-bold text-2xl">
      <a href="/">Board Game Sommelier</a>
    </h1>
    <nav class="flex flex-row justify-between">
      <div class="gap-4">
        <a href="/" class="underline">Search</a>
        <a href="/players" class="underline">Players</a>
        <a href="/games" class="underline">Games</a>
        <a href="/mechanics" class="underline">Mechanics</a>
      </div>
      <!-- Conditionally render login or logout links -->
      <div>
      {{#if logged_in}}
      <a href="/profile" class="underline">profile</a> |
      <a href="/profile" class="underline" id="logout">logout</a>
      {{else}}
      <a href="/login" class="underline">login</a>
      {{/if}}
      </div>
    </nav>
  </header>
  <main class="">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  <footer>
  </footer>


  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>