<section
  class="flex flex-col justify-center items-center my-8 w-11/12"
  id="addPlayer"
>
  <h2 class="self-center font-bold text-2xl">Add a new player</h2>
  <form
    action="submit"
    class="flex flex-row flex-wrap justify-center items-center w-full my-4"
    id="addPlayerForm"
  >
    <div class="flex flex-col md:flex-row justify-center items-center gap-2">
      <label for="player-name" class="font-bold self-start">Name:</label>
      <input
        class="bg-gray-200"
        type="text"
        name="player-name"
        id="player-name"
      />
    </div>

    <div class="flex flex-row justify-center w-full">
      <button
        type="submit"
        class="border-2 bg-gray-400 rounded-xl w-min py-1 px-2 self-center mt-4 w-max"
      >Add Player</button></div>
  </form>

</section>

<script src="/js/newPlayer.js"></script>